*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(207, 67, 109);
}
.info_biglietto{
    max-width: 800px;
    margin: auto;
    margin-top: 3rem;
    margin-bottom: 4rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 3px #5f001d;
    background-color: white;
    align-items: center;
}
.container_biglietto{
    
    padding: 2rem;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 3rem;
}
.container_biglietto div{
    text-align: center;
}
.container_biglietto h5{
    margin-bottom: 1.5rem;
}
.titolo{
    color: white;
    text-align: center;
}
.container_biglietto input{
    border: none;
    border: 1px solid red;
    padding: 0.5rem;
    text-align: center;
}
.btn{
    display: flex;
    justify-content: center;
    padding: 1rem;
}
.btn input{
    padding: 0.5rem;
    border: none;
    border: 2px solid red;
    border-radius: 0.5rem;
}
.il_tuo_biglietto h1{
    color: white;
    text-align: center;
   
}
.il_tuo_biglietto{
    max-width: 800px;
    margin: auto;
    display: none;
}
 .il_tuo_biglietto.show{
    display: block;
}
.info_passeggero{
    background-color: white;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 3px 3px 3px #5f001d;
}
.nome_passeggero{
    padding: 1rem 0.5rem;
    background-color: lightgray;
}
.nome_passeggero h3{
    margin-bottom: 1rem;
}
.dati{
    margin-top: 1rem;
    display: flex;
}
.dettagli{
    padding: 1rem 0.5rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    
}
.dettagli h5{
    margin-bottom: 1rem;
}
.dettagli div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}